@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* div,
section {
  border: 1px solid;
} */
/* may not be needed */
.fa-moon {
  justify-self: flex-end;
  margin-left: 4rem;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
}

.date-container {
  width: 8.5rem;
  height: 2.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  border-radius: 5px;
  top: 0;
  right: 0;
  background-color: #3d3d3d;
  & h5 {
    font-size: 1.4rem;
    background-color: #076d08;
    color: #efefef;
    border-radius: 5px;
    padding-inline: 0.3rem;
  }
}
.card {
  width: 90vw;
  max-width: 400px;
  height: 80vh;

  background: linear-gradient(70deg, black, #3d3d3d);
  background-size: 200% 200%;
  animation: gradientMove 5s infinite linear;
  margin: 0;
  border-radius: 2rem;

  /* min-height: 200px; */
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.page1 {
  position: relative;
  height: 100%;
  width: 100%;
  padding-block: 1rem;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.flex {
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  transform: scale(1);
}
.hidden {
  display: none;
  transform: scale(0.8);
}
.banner {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;

  & div {
    height: 100%;
    width: 5.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.fa-solid,
.fa-brands {
  font-size: 1.5rem;
  color: #efefef;
  cursor: pointer;
}
.fa-solid:hover,
.fa-brands:hover {
  filter: brightness(90%);
}
h1 {
  color: #076d08;
  font-size: 2.1rem;
  margin-top: 1rem;
  /* line-height: 5rem; */
  font-weight: 800;
}
.desc {
  color: #efefef;
  font-size: 1.1rem;
}
.prof-img {
  position: absolute;
  bottom: 2.5rem;
  width: 80%;
  /* z-index: -1; */
}
.show-details {
  background-color: #076d08;
  height: 2.8rem;
  width: 6.5rem;
  color: #efefef;
  font-weight: 600;
  border-radius: 2rem;
  margin-top: 18rem;
  border: none;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  /* top: 0;
  left: 0; */
}
.show-details:hover {
  filter: brightness(110%);
}
.page2 {
  /* display: flex; */

  /* flex-direction: column;
  align-items: center; */
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 1rem;
}
.back {
  color: #076d08;
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  font-size: 1rem;
}
.img-page2 {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #efefef;
}
h2.page2 {
  margin-top: 1rem;
  margin-left: 9rem;
  color: #efefef;
  font-weight: 500;
  /* margin-bottom: 0; */
}
p.email {
  margin-top: -26rem;
  color: azure;
}
p.brief-about {
  font-style: italic;
  margin-top: 1rem;
  color: #076d08;
  font-weight: 500;
}
div.bio {
  width: 100%;
  height: 16rem;
  background-color: #efefef;
  margin-top: 1.5rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.banner2 {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 800;
  color: #3d3d3d;
}
.active-span {
  text-decoration: underline;
  text-decoration-color: #076d08;
}
div.bio-content {
  padding-inline: 2rem;
  padding-top: 1.2rem;
  height: 12rem;
}
.hide {
  /* opacity: 0; */
  display: none;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}

.show {
  display: flex;
  /* opacity: 1; */
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: all;
}
